header{
	background-color: @second-base;
	height: 60px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
	h1{
		color:#fff;
		font-size: 24px;
		font-weight: bold;
		line-height: 61px;
		margin-left: 137px;
		margin-top: 0;
	}
}

.logo{
	background-color: @primary-detail;
	width: 107px;
	img{
		display: block;
		margin: 0 auto;
		padding: 11px;
		text-align: center;
	}
}


@media (max-width: @screen-xs-max) {
	
	header h1{
		font-size: 14px;
	}
}
