.wrap-loading{
	background: #fff;
	height: 190px;
	position: relative;
	text-align: center;
	margin-top: -15px;
}

.loading {  
	bottom: 0;
	height: 50px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	&:before {
		content: '';
		width: 50px;
		height: 5px;
		background: #000;
		opacity: 0.1;
		position: absolute;
		top: 59px;
		left: 0;
		border-radius: 50%;
		animation: shadow .5s linear infinite;
	}
	&:after {
		content: '';
		width: 50px;
		height: 50px;
		background: @primary-detail;
		animation: animate .5s linear infinite;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 3px;
	}
}

@keyframes animate {
	17% {
		border-bottom-right-radius: 3px;
	}
	25% {
		transform: translateY(9px) rotate(22.5deg);
	}
	50% {
		transform: translateY(18px) scale(1, .9) rotate(45deg);
		border-bottom-right-radius: 40px;
	}
	75% {
		transform: translateY(9px) rotate(67.5deg);
	}
	100% {
		transform: translateY(0) rotate(90deg);
	}
}

@keyframes shadow {
	0%, 100% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1.2, 1);
	}
}