.search-container{
	background: @container;
	height: 100%;
	left: 126px;
	position: fixed;
	padding: 10px;
	top: 76px;
	width: 230px;
	z-index: 2;
	label,input,select{
		font-size: 11px;
		color: @font-second;
		font-weight: 300;
	}
	input,select{
		color:@font-primary;
	}
}

.search-title-sidebar{
	font-size: 16px;
	font-weight: 100;
	color: @font-title;
}
.search-border-sidebar{
	border-bottom: 1px solid #ddd;
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.search-fit{
	background: #fff;
	margin-top: 16px;
	margin-left: 367px;
	padding-bottom: 20px;
	&.search-details{
		margin-left: 107px;
		padding-bottom: 0;
		.search-value{
			left: 40px;
		}
		.search-container-list{
			width: 100%;
			margin-left: 0;
		}
		.row.is-flex{
			height: 270px;
			position: relative;
		}
	}
}

.search-button{
	background: @primary-detail;
	color: #fff;
	font-size: 12px;
	font-weight: 100;
	transition:background-color 0.1s ease-in-out;
	margin-top: 4px;
	&:hover{
		background-color: darken(@primary-detail,20%);
		color:#fff;
	}
}

.search-chars{
	background: #fafafa;
	padding-left: 15px;
	margin-left: -15px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding-top: 10px;
	padding-bottom: 10px;
	position: absolute;
	bottom: 0;
	width: 100%;
	> div{
		float: left;
		margin-right: 10px;
		font-size: 11px;
		color:@font-second;
		> img{
			display: block;
			margin: 0 auto;
			margin-bottom: 5px;
			height: 15px;
		}
	}
	button{
		float: right;
		margin-right: 15px;
	}
}

.search-container-list{
	border: 1px solid #ccc;
	box-shadow: 1px 3px 3px -1px #e4e4e4;
	display: block;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-top: 15px;
	width: 95%;
	position: relative;
}

.search-value{
	position: absolute;
	color: #fff;
	font-size: 23px;
	font-weight: 300;
	bottom: 10px;
	left: 10px;
}

.search-id{
	font-size: 10px;
	border: 1px solid #ddd;
	padding: 2px 5px;
	font-weight: bold;
	color: @font-second;
}

.search-img{
	object-fit:cover;
}

.search-wrap-container{
	margin-top: 10px;
}

.search-title{
	color: @font-title;
	font-size: 18px;
	margin-top: 10px;
}

.search-desc{
	color: @font-second;
	font-weight: 300;
	font-size: 14px;
}

.search-wrap{
	position: relative;
	display: inline-block;
	padding-left: 0;
}

.search-error{
	padding: 40px;
	margin-bottom: -20px;
	strong{
		font-size: 42px;
	}
	p{
		font-weight: 100;
	}
}




@media (min-width: @screen-xs-min) and (max-width: @screen-sm-max) {
	.search-chars{
		margin-left: 0;
		padding-left: 15px;
		position: relative;
		margin-top: 15px;
	}
	.search-desc,.search-id,.search-title{
		margin: 10px;
	}

	.search-wrap{
		padding-left: 15px;
		padding-right: 15px;
	}
	.search-fit.search-details .row.is-flex{
		height: auto;
	}

	.search-value{
		top: 10px;
	}
}

@media (max-width: @screen-xs-max) {
	
	.search-container{
		position: relative;
		width: 95%;
		margin: 2.5%;
		left: 0;
		top: 15px;
		display: block;
		z-index: 1;
	}

	.search-fit{
		margin-left: 0;
	}

	.search-desc,.search-id,.search-title{
		font-size: 12px;
		margin: 10px;
	}
	.search-wrap{
		padding: 15px;
		padding-bottom: 0;
	}
	.search-value{
		top: 10px;
	}
	.search-fit.search-details{
		margin-left: 0;
	}
	.search-fit.search-details .row.is-flex{
		height: auto;
	}
	.search-chars{
		div{
			margin-bottom: 10px;
		}
		button{
			font-size: 11px;
			float: none;
			text-align: center;
			margin: 0 auto;
			display: block;
			position: relative;
			clear: both;
			margin-top: 10px;
			width: 100%;
		}
		margin-left: 0;
		margin-top: 15px;
		padding-right: 15px;
		position: relative;
	}
}