.sidebar{
	background: @base;
	height: 100%;
	left: 0;
	position: fixed;
	top: 60px;
	width: 107px;
	z-index: 3;
	ul{
		list-style: none;
		padding: 0;
	}
	a{
		color:#fff;
		text-decoration: none;
	}
	li{
		border-radius: 4px;
		background-color: transparent;
		cursor: pointer;
		color: #fff;
		font-size: 11px;
		height: 72px;
		margin:0 auto;
		margin-top: 15px;
		text-align: center;
		text-transform: uppercase;
		width: 91px;
		transition:background-color 0.1s ease-in-out;
		&:hover{
			background-color: darken(@primary-detail,20%);
		}
		img{
			margin: 10px 0;
		}
		small{
			display: block;
		}
		&.active{
			background-color: @primary-detail;
		}
	}
}

@media (max-width: @screen-xs-max) {
	
	.sidebar{
		display: none;
	}

}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	// .sidebar{
	// 	background: blue;
	// }
}

