
<div class="search-container">
	<p class="search-title-sidebar">Filtro</p>

	<div class="row search-border-sidebar">
		<div class="col-md-6">
			<label for="id">ID</label>
			<div class="input-group width-100">
				<input type="number" class="form-control" id="id" data-ng-model="search.id" data-ng-model-options="{debounce:1000}">
			</div>
		</div>
		<div class="col-md-6">
			<label for="squareMeters">ÁREA</label>
			<div class="input-group width-100">
				<input type="number" class="form-control" id="squareMeters" data-ng-model="search.squareMeters" data-ng-model-options="{debounce:1000}" min="10" max="500" placeholder="Ex: 100">
			</div>
		</div>
	</div>
	<div class="row search-border-sidebar">
		<div class="col-md-6">
			<label for="quartos">QUARTOS</label>
			<div class="input-group width-100">
				<select name="beds" id="quartos" data-ng-model="search.beds" class="form-control">
					<option value="">Selecionar</option>
					<option value="{{value}}" data-ng-repeat="(key, value) in number_filter">{{value}}</option>
				</select>
			</div>
		</div>
		<div class="col-md-6">
			<label for="Banheiro">BANHEIROS</label>
			<div class="input-group width-100">
				<select name="baths" id="Banheiro" data-ng-model="search.baths" class="form-control">
					<option value="">Selecionar</option>
					<option value="{{value}}" data-ng-repeat="(key, value) in number_filter">{{value}}</option>
				</select>
			</div>
		</div>
	</div>
	<div class="row search-border-sidebar" >
		<div class="col-md-6">
			<label for="valueMin">VALOR</label>
			<div class="input-group width-100">
				<input type="text" ui-money-mask="2" placeholder="Mínimo" class="form-control" id="valueMin" data-ng-model="search.minprice" data-ng-model-options="{debounce:1000}">
			</div>
		</div>
		<div class="col-md-6">
			<label for="valueMin">&nbsp;</label>
			<div class="input-group width-100">
				<input type="text" ui-money-mask="2" placeholder="Máximo" class="form-control" id="valueMax" data-ng-model="search.maxprice" data-ng-model-options="{debounce:1000}">
			</div>
		</div>
	</div>

</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			
			<ul class="list-unstyled search-fit clearfix" infinite-scroll="doSearch()" infinite-scroll-disabled='scroll.busy' infinite-scroll-distance="2" infinite-scroll-use-document-bottom="true">
				<properties data-ng-repeat="(key, value) in searchList track by $index"></properties>
				<li class="search-error" data-ng-if="error">
					<p>
						<strong>Ops!</strong>
						<p>Não encontramos nenhum resultado para esta busca :(</p>
					</p>
				</li>
			</ul>
			

			<div class="wrap-loading clearfix search-fit" data-ng-show="scroll.busy && !no_data">
				<div class="loading"></div>
			</div>

		</div>
	</div>
</div>

