<header>
	<div class="logo pull-left">
		<img src="assets/images/logo/logo-vivareal.png" alt="Logo">
	</div>
	<h1>
		{{main_text}}
	</h1>
</header>

<section>	
	<aside class="sidebar">
		<ul>
			<li data-ng-repeat="(key, item) in menu track by $index" data-ng-class="{'active':normalize_url_path() == item.url}">
				<a ng-href="/{{item.url}}">
					<img data-ng-src="assets/images/utils/{{item.ico}}.png" alt="{{item.value}}" width="30px" height="30px">
					<small>{{item.value}}</small>
				</a>
			</li>
		</ul>
	</aside>
</section>


<div ui-view="main"  class="main">
	
</div>