<li  class="search-container-list clearfix ">

	<div class="wrap row is-flex">
		<img src="http://via.placeholder.com/298x224" alt="Imóvel" class="col-md-4 col-sm-12 col-xs-12 search-img" >
		<small class="search-value">{{value.price | currency: "R$" : 2}}</small>
		<div class="search-wrap col-md-8 col-sm-12 col-xs-12">
			<div class="search-wrap-container">
				
				<span class="search-id">ID: {{value.id}}</span>
				<p class="search-title">{{value.title}}</p>
				<p class="search-desc">
					{{value.description}}
				</p>
				<div class="search-chars clearfix">
					<div>
						<img src="assets/images/utils/ic-card-area.png" class="ic_card_beds">
						<span>{{value.squareMeters}} M²</span>
					</div>
					<div>
						<img src="assets/images/utils/ic-card-beds.png" class="ic_card_beds">
						<span>{{value.beds}} QUARTOS</span>
					</div>
					<div>
						<img src="assets/images/utils/ic-card-bathroom.png" class="ic_card_beds">
						<span>{{value.baths}} BANHEIROS</span>
					</div>
					<button data-ng-hide="properties_detail" class="search-button btn btn-md" data-ng-click="goProperties(value)">VISUALIZAR ANÚNCIO</button>
				</div>

			</div>
		</div>
	</div>
	
	<div ng-if="properties_detail" class="map">
		<h1>Mapa</h1>
		<div class="properties-map">
			<img src="assets/images/utils/spotippos-map.png" alt="Mapa Spotippos" width="100%">
			<div class="properties-container" style="left:{{location.x}};top:{{location.y}}">
				<div class="properties-pin"></div>
				<div class="properties-pulse"></div>
			</div>
		</div>

	</div>
</li>