<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<ul class="list-unstyled search-fit search-details">
				<properties data-ng-repeat="(key, value) in searchList"></properties>

				<li class="search-error" data-ng-if="error">
					<p>
						<strong>Ops!</strong>
						<p>Não encontramos nenhum resultado para esta busca :(</p>
					</p>
				</li>
			</ul>
			<div class="wrap-loading clearfix search-fit search-details" data-ng-show="loading && !no_data">
				<div class="loading"></div>
			</div>
		</div>
	</div>
</div>